<!DOCTYPE html>

<html lang="en">
	<head>
	
	<title>hack{cyprus}</title>
	
	<meta charset="utf-8">    
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="hack{cyprus}">

	<link rel="stylesheet" type="text/css" href="/css/hackcyprus.css">

	<script type="text/javascript" src="//use.typekit.net/vye3qxj.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</head>

<body>

  {{ content }}

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</body>

</html>